<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu.mapper.ClientInfoMapper">
  <resultMap id="BaseResultMap" type="com.sspu.entity.ClientInfo">
    <!--@mbg.generated-->
    <!--@Table clientInfo-->
    <id column="clientId" jdbcType="INTEGER" property="clientid" />
    <result column="clientUniqueId" jdbcType="VARCHAR" property="clientuniqueid" />
    <result column="clientPassword" jdbcType="VARCHAR" property="clientpassword" />
    <result column="dateTime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="clientName" jdbcType="VARCHAR" property="clientname" />
    <result column="clientPhone" jdbcType="VARCHAR" property="clientphone" />
    <result column="clientLoginError" jdbcType="INTEGER" property="clientloginerror" />
    <result column="clientAllowedLoginTime" jdbcType="TIMESTAMP" property="clientallowedlogintime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    clientId, clientUniqueId, clientPassword, `dateTime`, clientName, clientPhone, clientLoginError,
    clientAllowedLoginTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from clientInfo
    where clientId = #{clientid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from clientInfo
    where clientId = #{clientid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="clientId" keyProperty="clientid" parameterType="com.sspu.entity.ClientInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into clientInfo (clientUniqueId, clientPassword, `dateTime`,
      clientName, clientPhone, clientLoginError,
      clientAllowedLoginTime)
    values (#{clientuniqueid,jdbcType=VARCHAR}, #{clientpassword,jdbcType=VARCHAR}, #{datetime,jdbcType=TIMESTAMP},
      #{clientname,jdbcType=VARCHAR}, #{clientphone,jdbcType=VARCHAR}, #{clientloginerror,jdbcType=INTEGER},
      #{clientallowedlogintime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="clientId" keyProperty="clientid" parameterType="com.sspu.entity.ClientInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into clientInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientuniqueid != null">
        clientUniqueId,
      </if>
      <if test="clientpassword != null">
        clientPassword,
      </if>
      <if test="datetime != null">
        `dateTime`,
      </if>
      <if test="clientname != null">
        clientName,
      </if>
      <if test="clientphone != null">
        clientPhone,
      </if>
      <if test="clientloginerror != null">
        clientLoginError,
      </if>
      <if test="clientallowedlogintime != null">
        clientAllowedLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientuniqueid != null">
        #{clientuniqueid,jdbcType=VARCHAR},
      </if>
      <if test="clientpassword != null">
        #{clientpassword,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientname != null">
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientphone != null">
        #{clientphone,jdbcType=VARCHAR},
      </if>
      <if test="clientloginerror != null">
        #{clientloginerror,jdbcType=INTEGER},
      </if>
      <if test="clientallowedlogintime != null">
        #{clientallowedlogintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sspu.entity.ClientInfo">
    <!--@mbg.generated-->
    update clientInfo
    <set>
      <if test="clientuniqueid != null">
        clientUniqueId = #{clientuniqueid,jdbcType=VARCHAR},
      </if>
      <if test="clientpassword != null">
        clientPassword = #{clientpassword,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        `dateTime` = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientname != null">
        clientName = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="clientphone != null">
        clientPhone = #{clientphone,jdbcType=VARCHAR},
      </if>
      <if test="clientloginerror != null">
        clientLoginError = #{clientloginerror,jdbcType=INTEGER},
      </if>
      <if test="clientallowedlogintime != null">
        clientAllowedLoginTime = #{clientallowedlogintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clientId = #{clientid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sspu.entity.ClientInfo">
    <!--@mbg.generated-->
    update clientInfo
    set clientUniqueId = #{clientuniqueid,jdbcType=VARCHAR},
      clientPassword = #{clientpassword,jdbcType=VARCHAR},
      `dateTime` = #{datetime,jdbcType=TIMESTAMP},
      clientName = #{clientname,jdbcType=VARCHAR},
      clientPhone = #{clientphone,jdbcType=VARCHAR},
      clientLoginError = #{clientloginerror,jdbcType=INTEGER},
      clientAllowedLoginTime = #{clientallowedlogintime,jdbcType=TIMESTAMP}
    where clientId = #{clientid,jdbcType=INTEGER}
  </update>
<!--  ****************************************************************************-->

<!--  根据条件查询客户信息列表-->
    <select id="findAllClientInfo" resultMap="BaseResultMap">
      select * from clientInfo
      where 1=1
      <if test="clientid != null">
       and clientId = #{clientid,jdbcType=INTEGER}
      </if>
    </select>
  <select id="selectByUniqueIdAndPassword" parameterType="com.sspu.entity.ClientInfo" resultType="int">
    select count(*)
    from clientInfo
    where clientUniqueId = #{clientuniqueid,jdbcType=VARCHAR} and clientPassword =#{clientpassword,jdbcType=VARCHAR}
  </select>

  <select id="selectByClientUniqueId" resultType="com.sspu.entity.ClientInfo">
    select *
    from clientInfo
    where clientUniqueId = #{clientuniqueid,jdbcType=VARCHAR}
    </select>
</mapper>
