<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu.mapper.DriverInfoMapper">
  <resultMap id="BaseResultMap" type="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    <!--@Table driverInfo-->
    <id column="driverInfoId" jdbcType="INTEGER" property="driverinfoid" />
    <result column="driverName" jdbcType="VARCHAR" property="drivername" />
    <result column="driverPhone" jdbcType="VARCHAR" property="driverphone" />
    <result column="driverIdNumber" jdbcType="VARCHAR" property="driveridnumber" />
    <result column="driverCarType" jdbcType="VARCHAR" property="drivercartype" />
    <result column="driverCarNumber" jdbcType="VARCHAR" property="drivercarnumber" />
    <result column="driverPictureUrl" jdbcType="VARCHAR" property="driverpictureurl" />
    <result column="driverInfoSource" jdbcType="VARCHAR" property="driverinfosource" />
    <result column="dateTime" jdbcType="TIMESTAMP" property="datetime" />
    <result column="driverApplyType" jdbcType="VARCHAR" property="driverapplytype" />
    <result column="applyTime" jdbcType="TIMESTAMP" property="applytime" />
    <result column="driverOrderStatus" jdbcType="VARCHAR" property="driverorderstatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driverInfoId, driverName, driverPhone, driverIdNumber, driverCarType, driverCarNumber,
    driverPictureUrl, driverInfoSource, `dateTime`, driverApplyType, applyTime, driverOrderStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from driverInfo
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from driverInfo
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="driverInfoId" keyProperty="driverinfoid" parameterType="com.sspu.entity.DriverInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into driverInfo (driverName, driverPhone, driverIdNumber,
      driverCarType, driverCarNumber, driverPictureUrl,
      driverInfoSource, `dateTime`, driverApplyType,
      applyTime, driverOrderStatus)
    values (#{drivername,jdbcType=VARCHAR}, #{driverphone,jdbcType=VARCHAR}, #{driveridnumber,jdbcType=VARCHAR},
      #{drivercartype,jdbcType=VARCHAR}, #{drivercarnumber,jdbcType=VARCHAR}, #{driverpictureurl,jdbcType=VARCHAR},
      #{driverinfosource,jdbcType=VARCHAR}, #{datetime,jdbcType=TIMESTAMP}, #{driverapplytype,jdbcType=VARCHAR},
      #{applytime,jdbcType=TIMESTAMP}, #{driverorderstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="driverInfoId" keyProperty="driverinfoid" parameterType="com.sspu.entity.DriverInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into driverInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drivername != null">
        driverName,
      </if>
      <if test="driverphone != null">
        driverPhone,
      </if>
      <if test="driveridnumber != null">
        driverIdNumber,
      </if>
      <if test="drivercartype != null">
        driverCarType,
      </if>
      <if test="drivercarnumber != null">
        driverCarNumber,
      </if>
      <if test="driverpictureurl != null">
        driverPictureUrl,
      </if>
      <if test="driverinfosource != null">
        driverInfoSource,
      </if>
      <if test="datetime != null">
        `dateTime`,
      </if>
      <if test="driverapplytype != null">
        driverApplyType,
      </if>
      <if test="applytime != null">
        applyTime,
      </if>
      <if test="driverorderstatus != null">
        driverOrderStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drivername != null">
        #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        #{driverphone,jdbcType=VARCHAR},
      </if>
      <if test="driveridnumber != null">
        #{driveridnumber,jdbcType=VARCHAR},
      </if>
      <if test="drivercartype != null">
        #{drivercartype,jdbcType=VARCHAR},
      </if>
      <if test="drivercarnumber != null">
        #{drivercarnumber,jdbcType=VARCHAR},
      </if>
      <if test="driverpictureurl != null">
        #{driverpictureurl,jdbcType=VARCHAR},
      </if>
      <if test="driverinfosource != null">
        #{driverinfosource,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="driverapplytype != null">
        #{driverapplytype,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null">
        #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="driverorderstatus != null">
        #{driverorderstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    update driverInfo
    <set>
      <if test="drivername != null">
        driverName = #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        driverPhone = #{driverphone,jdbcType=VARCHAR},
      </if>
      <if test="driveridnumber != null">
        driverIdNumber = #{driveridnumber,jdbcType=VARCHAR},
      </if>
      <if test="drivercartype != null">
        driverCarType = #{drivercartype,jdbcType=VARCHAR},
      </if>
      <if test="drivercarnumber != null">
        driverCarNumber = #{drivercarnumber,jdbcType=VARCHAR},
      </if>
      <if test="driverpictureurl != null">
        driverPictureUrl = #{driverpictureurl,jdbcType=VARCHAR},
      </if>
      <if test="driverinfosource != null">
        driverInfoSource = #{driverinfosource,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null">
        `dateTime` = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="driverapplytype != null">
        driverApplyType = #{driverapplytype,jdbcType=VARCHAR},
      </if>
      <if test="applytime != null">
        applyTime = #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="driverorderstatus != null">
        driverOrderStatus = #{driverorderstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    update driverInfo
    set driverName = #{drivername,jdbcType=VARCHAR},
      driverPhone = #{driverphone,jdbcType=VARCHAR},
      driverIdNumber = #{driveridnumber,jdbcType=VARCHAR},
      driverCarType = #{drivercartype,jdbcType=VARCHAR},
      driverCarNumber = #{drivercarnumber,jdbcType=VARCHAR},
      driverPictureUrl = #{driverpictureurl,jdbcType=VARCHAR},
      driverInfoSource = #{driverinfosource,jdbcType=VARCHAR},
      `dateTime` = #{datetime,jdbcType=TIMESTAMP},
      driverApplyType = #{driverapplytype,jdbcType=VARCHAR},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      driverOrderStatus = #{driverorderstatus,jdbcType=VARCHAR}
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </update>

  <select id="selectAllByDriverIdNumber" resultMap="BaseResultMap">
    select *
    from driverInfo
    where driverIdNumber = #{driveridnumber,jdbcType=VARCHAR}
  </select>

  <select id="selectUntreatedInfoDesc" resultMap="BaseResultMap">
    select *
    from driverInfo
    where driverIdNumber = #{driveridnumber,jdbcType=VARCHAR}
    <if test="driverorderstatus == '0'.toString()">
      and  driverOrderStatus=#{driverorderstatus,jdbcType=VARCHAR}
    </if>
    <if test="orderBy == 'DESC'">
      order by applyTime ${orderBy}
    </if>
  </select>

  <select id="findAllDriverApplyInfo" resultMap="BaseResultMap">
    select *
    from driverInfo
    where 1=1
    <if test="driverinfoid !=null ">
      and  driverinfoid=#{driverinfoid,jdbcType=INTEGER}
    </if>

  </select>
</mapper>
