<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu.mapper.DriverInfoMapper">
  <resultMap id="BaseResultMap" type="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    <!--@Table driverInfo-->
    <id column="driverInfoId" jdbcType="INTEGER" property="driverinfoid" />
    <result column="driverName" jdbcType="VARCHAR" property="drivername" />
    <result column="driverPhone" jdbcType="DOUBLE" property="driverphone" />
    <result column="driverIdNumber" jdbcType="VARCHAR" property="driveridnumber" />
    <result column="driverCarType" jdbcType="VARCHAR" property="drivercartype" />
    <result column="driverCarNumber" jdbcType="VARCHAR" property="drivercarnumber" />
    <result column="driverInfoStatus" jdbcType="VARCHAR" property="driverinfostatus" />
    <result column="driverInfoSource" jdbcType="VARCHAR" property="driverinfosource" />
    <result column="driverCard" jdbcType="VARCHAR" property="drivercard" />
    <result column="applydate" jdbcType="TIMESTAMP" property="applydate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    driverInfoId, driverName, driverPhone, driverIdNumber, driverCarType, driverCarNumber,
    driverInfoStatus, driverInfoSource, driverCard, applydate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from driverInfo
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from driverInfo
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="driverInfoId" keyProperty="driverinfoid" parameterType="com.sspu.entity.DriverInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into driverInfo (driverName, driverPhone, driverIdNumber,
      driverCarType, driverCarNumber, driverInfoStatus,
      driverInfoSource, driverCard, applydate
      )
    values (#{drivername,jdbcType=VARCHAR}, #{driverphone,jdbcType=DOUBLE}, #{driveridnumber,jdbcType=VARCHAR},
      #{drivercartype,jdbcType=VARCHAR}, #{drivercarnumber,jdbcType=VARCHAR}, #{driverinfostatus,jdbcType=VARCHAR},
      #{driverinfosource,jdbcType=VARCHAR}, #{drivercard,jdbcType=VARCHAR}, #{applydate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="driverInfoId" keyProperty="driverinfoid" parameterType="com.sspu.entity.DriverInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into driverInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drivername != null">
        driverName,
      </if>
      <if test="driverphone != null">
        driverPhone,
      </if>
      <if test="driveridnumber != null">
        driverIdNumber,
      </if>
      <if test="drivercartype != null">
        driverCarType,
      </if>
      <if test="drivercarnumber != null">
        driverCarNumber,
      </if>
      <if test="driverinfostatus != null">
        driverInfoStatus,
      </if>
      <if test="driverinfosource != null">
        driverInfoSource,
      </if>
      <if test="drivercard != null">
        driverCard,
      </if>
      <if test="applydate != null">
        applydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drivername != null">
        #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        #{driverphone,jdbcType=DOUBLE},
      </if>
      <if test="driveridnumber != null">
        #{driveridnumber,jdbcType=VARCHAR},
      </if>
      <if test="drivercartype != null">
        #{drivercartype,jdbcType=VARCHAR},
      </if>
      <if test="drivercarnumber != null">
        #{drivercarnumber,jdbcType=VARCHAR},
      </if>
      <if test="driverinfostatus != null">
        #{driverinfostatus,jdbcType=VARCHAR},
      </if>
      <if test="driverinfosource != null">
        #{driverinfosource,jdbcType=VARCHAR},
      </if>
      <if test="drivercard != null">
        #{drivercard,jdbcType=VARCHAR},
      </if>
      <if test="applydate != null">
        #{applydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    update driverInfo
    <set>
      <if test="drivername != null">
        driverName = #{drivername,jdbcType=VARCHAR},
      </if>
      <if test="driverphone != null">
        driverPhone = #{driverphone,jdbcType=DOUBLE},
      </if>
      <if test="driveridnumber != null">
        driverIdNumber = #{driveridnumber,jdbcType=VARCHAR},
      </if>
      <if test="drivercartype != null">
        driverCarType = #{drivercartype,jdbcType=VARCHAR},
      </if>
      <if test="drivercarnumber != null">
        driverCarNumber = #{drivercarnumber,jdbcType=VARCHAR},
      </if>
      <if test="driverinfostatus != null">
        driverInfoStatus = #{driverinfostatus,jdbcType=VARCHAR},
      </if>
      <if test="driverinfosource != null">
        driverInfoSource = #{driverinfosource,jdbcType=VARCHAR},
      </if>
      <if test="drivercard != null">
        driverCard = #{drivercard,jdbcType=VARCHAR},
      </if>
      <if test="applydate != null">
        applydate = #{applydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sspu.entity.DriverInfo">
    <!--@mbg.generated-->
    update driverInfo
    set driverName = #{drivername,jdbcType=VARCHAR},
      driverPhone = #{driverphone,jdbcType=DOUBLE},
      driverIdNumber = #{driveridnumber,jdbcType=VARCHAR},
      driverCarType = #{drivercartype,jdbcType=VARCHAR},
      driverCarNumber = #{drivercarnumber,jdbcType=VARCHAR},
      driverInfoStatus = #{driverinfostatus,jdbcType=VARCHAR},
      driverInfoSource = #{driverinfosource,jdbcType=VARCHAR},
      driverCard = #{drivercard,jdbcType=VARCHAR},
      applydate = #{applydate,jdbcType=TIMESTAMP}
    where driverInfoId = #{driverinfoid,jdbcType=INTEGER}
  </update>
  <select id="findAllDriverInfo" resultMap="BaseResultMap">
    select * from driverInfo
  </select>
</mapper>
