<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sspu.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.sspu.entity.OrderInfo">
    <!--@mbg.generated-->
    <!--@Table orderInfo-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="orderNumber" jdbcType="VARCHAR" property="ordernumber" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderstatus" />
    <result column="orderPayment" jdbcType="DECIMAL" property="orderpayment" />
    <result column="orderPaymentStatus" jdbcType="VARCHAR" property="orderpaymentstatus" />
    <result column="orderPaymentTime" jdbcType="TIMESTAMP" property="orderpaymenttime" />
    <result column="orderClientId" jdbcType="INTEGER" property="orderclientid" />
    <result column="orderApplyInfoId" jdbcType="INTEGER" property="orderapplyinfoid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="isVisible" jdbcType="VARCHAR" property="isvisible" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, orderNumber, orderStatus, orderPayment, orderPaymentStatus, orderPaymentTime,
    orderClientId, orderApplyInfoId, createTime, updateTime, createBy, isVisible
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from orderInfo
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from orderInfo
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.sspu.entity.OrderInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orderInfo (orderNumber, orderStatus, orderPayment,
      orderPaymentStatus, orderPaymentTime,
      orderClientId, orderApplyInfoId, createTime,
      updateTime, createBy, isVisible
      )
    values (#{ordernumber,jdbcType=VARCHAR}, #{orderstatus,jdbcType=VARCHAR}, #{orderpayment,jdbcType=DECIMAL},
      #{orderpaymentstatus,jdbcType=VARCHAR}, #{orderpaymenttime,jdbcType=TIMESTAMP},
      #{orderclientid,jdbcType=INTEGER}, #{orderapplyinfoid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{isvisible,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.sspu.entity.OrderInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into orderInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordernumber != null">
        orderNumber,
      </if>
      <if test="orderstatus != null">
        orderStatus,
      </if>
      <if test="orderpayment != null">
        orderPayment,
      </if>
      <if test="orderpaymentstatus != null">
        orderPaymentStatus,
      </if>
      <if test="orderpaymenttime != null">
        orderPaymentTime,
      </if>
      <if test="orderclientid != null">
        orderClientId,
      </if>
      <if test="orderapplyinfoid != null">
        orderApplyInfoId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="createby != null">
        createBy,
      </if>
      <if test="isvisible != null">
        isVisible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordernumber != null">
        #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderpayment != null">
        #{orderpayment,jdbcType=DECIMAL},
      </if>
      <if test="orderpaymentstatus != null">
        #{orderpaymentstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderpaymenttime != null">
        #{orderpaymenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderclientid != null">
        #{orderclientid,jdbcType=INTEGER},
      </if>
      <if test="orderapplyinfoid != null">
        #{orderapplyinfoid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="isvisible != null">
        #{isvisible,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sspu.entity.OrderInfo">
    <!--@mbg.generated-->
    update orderInfo
    <set>
      <if test="ordernumber != null">
        orderNumber = #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null">
        orderStatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderpayment != null">
        orderPayment = #{orderpayment,jdbcType=DECIMAL},
      </if>
      <if test="orderpaymentstatus != null">
        orderPaymentStatus = #{orderpaymentstatus,jdbcType=VARCHAR},
      </if>
      <if test="orderpaymenttime != null">
        orderPaymentTime = #{orderpaymenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderclientid != null">
        orderClientId = #{orderclientid,jdbcType=INTEGER},
      </if>
      <if test="orderapplyinfoid != null">
        orderApplyInfoId = #{orderapplyinfoid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="isvisible != null">
        isVisible = #{isvisible,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sspu.entity.OrderInfo">
    <!--@mbg.generated-->
    update orderInfo
    set orderNumber = #{ordernumber,jdbcType=VARCHAR},
      orderStatus = #{orderstatus,jdbcType=VARCHAR},
      orderPayment = #{orderpayment,jdbcType=DECIMAL},
      orderPaymentStatus = #{orderpaymentstatus,jdbcType=VARCHAR},
      orderPaymentTime = #{orderpaymenttime,jdbcType=TIMESTAMP},
      orderClientId = #{orderclientid,jdbcType=INTEGER},
      orderApplyInfoId = #{orderapplyinfoid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      isVisible = #{isvisible,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

<!--  后台获取订单所有信息-->
  <select id="findAllOrderList" resultType="com.sspu.vo.DriverClientOrderVo">
    SELECT orderInfo.ID,orderNumber,orderPaymentTime,driverName,driverCarNumber,applyDate,clientUniqueId,applyTime,driverApplyType,orderStatus,orderPaymentStatus,
<!--    case WHEN applyTime='1' THEN "6:00-9:00" WHEN applyTime='2' THEN "9:00-12:00" WHEN applyTime='3' THEN "12:00-15:00" WHEN applyTime='4' THEN "15:00-18:00" ELSE "null" END as applyTime,-->
<!--    case WHEN driverApplyType='1'THEN "出园" WHEN driverApplyType='2'THEN "入园" ELSE "null" END as driverApplyType,-->
<!--    case WHEN orderStatus='1' THEN "订单有效" WHEN orderStatus='-1' THEN "订单无效"  ELSE "其他" END as orderStatus,-->
<!--    case WHEN orderPaymentStatus='0' THEN "未缴费" WHEN orderPaymentStatus='1' THEN "缴费成功" WHEN orderPaymentStatus='-1' THEN "缴费失败"  ELSE "其他" END as orderPaymentStatus,-->
    case WHEN driverCarType='1' THEN 20 WHEN driverCarType='2' THEN 30 WHEN driverCarType='3' THEN 40 ELSE null END as orderPayment
    FROM orderInfo
    LEFT JOIN clientInfo on orderInfo.orderClientId=clientInfo.ID
    INNER JOIN (SELECT applyInfo.ID,driverName,driverCarNumber,applyDate,applyTime,driverApplyType,driverApplyStatus,driverCarType FROM applyInfo LEFT JOIN driverInfo on applyInfo.driverId=driverInfo.ID)as applyInfo ON applyInfo.ID=orderInfo.orderApplyInfoId
    where 1=1
    <if test="id != null">
      and  orderInfo.ID = #{id,jdbcType=INTEGER}
    </if>
    and  orderInfo.isVisible =1
    order by orderInfo.updateTime  desc
  </select>

  <!--订单无效-->
  <update id="updateOrderStatusByOrderNumber">
    update orderInfo
    <set>
      <if test="orderstatus.equals('-1')">
        orderStatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
    </set>
     where ID = #{id,jdbcType=VARCHAR}
  </update>

<!--  小程序获取所有订单信息-->
  <select id="driverFindAllOrderList" resultType="com.sspu.vo.DriverClientOrderVo">
    SELECT orderNumber,driverName,driverCarNumber,applyDate,createTime,orderPaymentStatus,orderPaymentTime,cardNumber,telphone,applyTime,
<!--	case WHEN applyTime='1' THEN "6:00-9:00" WHEN applyTime='2' THEN "9:00-12:00" WHEN applyTime='3' THEN "12:00-15:00" WHEN applyTime='4' THEN "15:00-18:00" ELSE "null" END as applyTime,-->
	case WHEN driverCarType='1' THEN 20 WHEN driverCarType='2' THEN 30 WHEN driverCarType='3' THEN 40 ELSE null END as orderPayment
    FROM orderInfo
    INNER JOIN (SELECT applyInfo.ID,driverName,driverCarNumber,applyDate,applyTime,driverApplyType,driverId,cardNumber,driverCarType,telphone FROM applyInfo LEFT JOIN driverInfo on applyInfo.driverId=driverInfo.ID)as applyInfo ON applyInfo.ID=orderInfo.orderApplyInfoId
    where 1=1
	and  driverid=(SELECT id from driverInfo
        WHERE
        <if test="cardnumber != null" >
            cardNumber = #{cardnumber,jdbcType=VARCHAR}
        </if>
        LIMIT 1)
    and  orderInfo.isVisible =1
    order by orderInfo.updateTime  desc
  </select>

<!--  小程序筛选订单信息-->
  <select id="findListBySelectedContent" resultType="com.sspu.vo.DriverClientOrderVo">
    SELECT orderNumber,driverName,driverCarNumber,applyDate,createTime,orderPaymentStatus,orderPaymentTime,cardNumber,telphone,applyTime,
<!--    case WHEN applyTime='1' THEN "6:00-9:00" WHEN applyTime='2' THEN "9:00-12:00" WHEN applyTime='3' THEN "12:00-15:00" WHEN applyTime='4' THEN "15:00-18:00" ELSE "null" END as applyTime,-->
    case WHEN driverCarType='1' THEN 20 WHEN driverCarType='2' THEN 30 WHEN driverCarType='3' THEN 40 ELSE null END as orderPayment
    FROM orderInfo
    INNER JOIN (SELECT applyInfo.ID,driverName,driverCarNumber,applyDate,applyTime,driverApplyType,driverId,cardNumber,driverCarType,telphone FROM applyInfo LEFT JOIN driverInfo on applyInfo.driverId=driverInfo.ID)as applyInfo ON applyInfo.ID=orderInfo.orderApplyInfoId
    where 1=1
    and  driverid=(SELECT id from driverInfo
        WHERE
        <if test="cardnumber != null" >
          cardNumber = #{cardnumber,jdbcType=VARCHAR}
        </if>
        LIMIT 1)
    <if test="orderpaymentstatus!='2'.toString() ">
      and orderPaymentStatus = #{orderpaymentstatus,jdbcType=VARCHAR}
    </if>
    and  orderInfo.isVisible =1
    <if test="applyBy !=null " >
     ORDER BY createTime ${applyBy}
    </if>


  </select>
</mapper>
